/* Sidebar transition*/
.sidebar {
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
    -ms-transition: width 0.5s;
    transition: width 0.5s;
    width: 60px;
}

.active {
    width: 20%;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hamburger menu */
      .hamburger-btn {
        @apply inline-block cursor-pointer;
      }
  
      .bar1 {
        @apply mx-0 transition duration-75 bg-white w-[24px] h-[2px] my-[7px];
      }
  
      .bar2 {
        @apply mx-0 transition duration-75 bg-white w-[24px] h-[2px] my-[7px];
      }
  
      .bar3 {
        @apply mx-0 transition duration-75 bg-white w-[24px] h-[2px] my-[7px];
      }
  
      .change .bar1 {
        @apply transform scale-x-110 -rotate-45 translate-x-[0px] translate-y-[12px];
      }
  
      .change .bar2 {
        @apply opacity-0;
      }
  
      .change .bar3 {
        @apply transform scale-x-110 rotate-45 translate-x-[1px] translate-y-[-6px] mb-[9px];
      }
      /* End Hamburger menu */
    }
  }
  