.sidebar {
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
    -ms-transition: width 0.5s;
    transition: width 0.5s;
    width: 60px;
}

.active {
    width: 20%;
}


@tailwind base;
@tailwind components;
@tailwind utilities;